Source: couturier
Section: utils
Priority: optional
Maintainer: Charalampos Emmanouilidis <C.Emmanouilidis@yahoo.de>
Build-Depends: debhelper (>= 4.0.0), autotools-dev, mono-devel, gnome-sharp2
Standards-Version: 3.6.2

Package: couturier
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, mono-runtime, gnome-sharp2, libmono-posix2.0-cil
Recommends: 
Suggests: 
Pre-Depends: 
Conflicts: 
Provides: 
Replaces: 
Description: PDF merge application for Linux.
  Couturier is a PDF merge application that allows to merge multiple documents like PDF and/or images into one single PDF document.
 The application provides an easy to use user interface with modern technologies like drag and drop.
